<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Fantasy Diving</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="overflow: hidden; top: 0%; width: 100%;  position: fixed;">
        <a class="navbar-brand" href="{% url 'core:overview' %}">
            <div class="mx-3" style="font-size: 30px;">
                Fantasy Diving
            </div>
        </a>
        <div class="ms-auto">
            <a class="navbar-brand ms-auto" href="#">Sign Up</a>
            <a class="navbar-brand ms-auto" href="#">Log In</a>
        </div>
    </nav>

    <div class="mx-3 mb-2" style="margin-top: 80px;">
        <h2>{{ event.meet.title }}</h2>
        {% if not no_entries %}
            <div class="border border-primary px-2 py-2 rounded">
                <h3 class="pb-2" style="text-align: center;">Create Entry for {{ event.title }}</h3>
                <form action="{% url 'core:createEntry' event.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                        {% for entry in event.entry_set.all %}
                            <div class="row">
                                <div class="col">
                                    <strong>{{ entry.diver }}</strong>
                                </div>
                                {% for diveInstance in entry.diveinstance_set.all %}
                                    <div class="col px-1">
                                        <input type="checkbox" name="diveInstance" id="diveInstance{{ forloop.counter }}" value="{{ diveInstance.id }}">
                                        <label for="diveInstance{{ forloop.counter }}">{{ diveInstance.dive.number }}, {{ diveInstance.dive.height }}M</label>
                                    </div>
                                {% endfor %}
                            </div>
                        <br>
                        {% endfor %}
                    </fieldset>
                    <div class="mx-auto" style="width: 150px;">
                        <input class="btn btn-primary" type="submit" value="Create Entry" style="width: 150px;">
                    </div>
                </form>
            </div>
        {% endif %}
        {% if no_entries %}
            <h4 style="text-align: center;">No entries yet... check back later</h4>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>