{% extends "./base.html" %}
{% block content %}

    <a class="h2" href="{% url 'core:events' event.meet.id %}" style="text-decoration: none; color: black;">
        {{ event.meet.title }}
    </a>
    {% if event.entry_set.all|length > 0 %}
        <div class="border border-primary px-2 py-2 mt-2 rounded">
            <h3 class="pb-2" style="text-align: center;">Create Entry for {{ event.title }}</h3>
            <form action="{% url 'core:createEntry' event.id %}" method="post">
                {% csrf_token %}
                <fieldset>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    {% for entry in event.entry_set.all %}
                        <div class="row">
                            <div class="col">
                                <strong>{{ entry.diver }}</strong>
                            </div>
                            {% for diveInstance in entry.diveinstance_set.all %}
                                <div class="col px-1">
                                    <input type="checkbox" name="diveInstance" id="diveInstance{{ forloop.counter }}" value="{{ diveInstance.id }}">
                                    <label for="diveInstance{{ forloop.counter }}">{{ diveInstance.dive.number }}, {{ diveInstance.dive.height }}M</label>
                                </div>
                            {% endfor %}
                        </div>
                    <br>
                    {% endfor %}
                </fieldset>
                <div class="mx-auto" style="width: 150px;">
                    <input class="btn btn-primary" type="submit" value="Create Entry" style="width: 150px;">
                </div>
            </form>
        </div>
    {% endif %}
    {% if event.entry_set.all|length == 0 %}
        <h4 style="text-align: center;">No entries yet... check back later</h4>
    {% endif %}

{% endblock %}